---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE } from "../config";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter(p => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE.title}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedPosts.map(post => {
          const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="mb-3 grid grid-cols-[1fr] items-start md:grid-cols-[1fr_auto] md:gap-2">
              <div class="title">
                {post.frontmatter.external ? (
                  <a
                    href={post.frontmatter.url}
                    target="_blank"
                    class="unset
                        bg-gradient-to-r from-primary-blue 
                        to-primary-blue bg-[length:0%_55%] bg-left-bottom
                        bg-no-repeat transition-[background-size] duration-300 hover:bg-[length:100%_55%]
                        dark:from-primary-blue dark:to-primary-blue dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                      "
                  >
                    <span>{post.frontmatter.title}</span>
                    <span>
                      <i class="fa-solid fa-up-right-from-square ml-1 mr-1 pb-2 text-[12px]" />
                    </span>
                  </a>
                ) : (
                  <a
                    href={`/blog/${post.slug}`}
                    class="unset
                        bg-gradient-to-r from-primary-blue 
                        to-primary-blue bg-[length:0%_55%] bg-left-bottom
                        bg-no-repeat transition-[background-size] duration-300 hover:bg-[length:100%_55%]
                        dark:from-primary-blue dark:to-primary-blue dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                      "
                  >
                    {post.frontmatter.title}
                  </a>
                )}
              </div>
              <div class="pt-1 text-sm italic text-text-muted">
                <time datetime={post.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
